<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="css/style.css">
        <title>Native NodeJS Template</title>
    </head>
    <body>
        <div class="container">
            <h1>Hello World! The USER route is working correctly.</h1>
            <br>
            <ul>
                <li><a href="/">INDEX</a></li>
            </ul>
            <br>
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. <br>
                Dolore autem nihil expedita corrupti fuga. Aliquid nulla dignissimos ad natus ut commodi <br>
                ullam quos ducimus beatae modi quas, laborum fuga illo.
            </p>
        </div>

        <script src="js/main.js"></script>
    </body>
</html>